/* ----------------------------------
OWEN
Version: 1.0
Author: FrozenTheme

-------------------------------------

Table of contents

  @ Main Styles
  @ Intro 
  @ About 
  @ Service
  @ Portfolio
  @ Review
  @ Promotion 
  @ Contact
  @ Footer
  @ Responsive

*/

.blinking{
    animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #3b5998; }
    50%{    color: #C13584; }
    99%{    color:#25d366;  }
    100%{   color: #000;    }
}

.workimg{
	border-radius: 7px;
}


/* ====================
  Main Styles
=======================*/
/*Horizontal Rule*/
hr {
	border-top: 2px solid #eee;
}
.site-btnsociall {
	position: relative;
	display: inline-block;
	color: #fff;
	padding: 8px;
	margin-left: 10px;
	margin-right: 10px;
	border: none;
	line-height: normal;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	background: none;
}
.site-btnsociall :hover {
	color: #0077b5;
}

.site-btnsocialw :hover {
	color: #25d366;
}

.site-btnsocialw {
	position: relative;
	display: inline-block;
	color: #fff;
	padding: 8px;
	margin-left: 10px;
	margin-right: 10px;
	border: none;
	line-height: normal;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	background: none;
}

.site-btnsocialt {
	position: relative;
	display: inline-block;
	color: #fff;
	padding: 8px;
	margin-left: 10px;
	margin-right: 10px;
	border: none;
	line-height: normal;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	background: none;
}

.site-btnsocialt :hover {
	color: #C13584
}

.site-btnsocialf {
	position: relative;
	display: inline-block;
	color: #fff;
	padding: 8px;
	margin-left: 10px;
	margin-right: 10px;
	border: none;
	line-height: normal;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	background: none;
}

.site-btnsocialf :hover {
	color: #3b5998;
}


html, body {
	height: 100%;
	font-family: "Varela Round", sans-serif;
}
img {
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Varela Round", sans-serif;
	padding: 0;
	margin: 0;
}
p {
	font-size: 17px;
	color: #777777;
	line-height: 30px;
	font-family: "Varela Round", sans-serif;
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
li, ul {
	margin: 0;
	padding: 0;
}



/* ====================
  Common Styles
=======================*/
.pt70 {
	padding-top: 70px;
}
.pb70 {
	padding-bottom: 70px;
}
.mb100 {
	margin-bottom: 100px;
}
.mb70 {
	margin-bottom: 70px;
}
.mb40 {
	margin-bottom: 40px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb10 {
	margin-bottom: 10px;
}
.mt10 {
	margin-top: 10px;
}
.mt25 {
	margin-top: 25px;
}
.nopad {
	padding-left: 0;
	padding-right: 0;
}
.stitle {
	text-align: center;
}
.stitle h2 {
	font-family: "Varela Round", sans-serif;
	font-size: 30px;
	font-weight: 700;
	text-transform: capitalize;
	color: #000;
	position: relative;
	display: inline-block;
	padding: 10px 25px;
}
.stitle h2:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: transparent;
	bottom: 0px;
	left: 0;
	border-radius: 37px;
	
}
.site-btn {
	position: relative;
	display: inline-block;
	color: #fff;
	padding: 14px 30px;
	border: none;
	font-family: "Varela Round", sans-serif;
	line-height: normal;
	text-transform: auto;
	border-radius: 50px;
	font-size: 15px;
	letter-spacing: 1px;
	background: #333;
}
.site-btn:hover, .site-btn:focus {
	outline: none;
	color: #fff;
}
.site-btn.btn-light {
	background: #fff;
	color: #333;
	font-weight: bold;
}
.site-btn.btn-light:hover, .site-btn.btn-light:focus {
	color: #333;
}

/*------------------
	Preloder
--------------------*/
#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #f7f7f7;
}
.loader {
	width: 50px;
	height: 50px;
	border: 4px solid #000000;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	border-left-color: #fff;
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
	        box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}
@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
		        transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
.main-warp {
	position: relative;
	z-index: 5;
	background: #fff;
}
.responsive {
	display: none;
}
.header-section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background: rgba(255, 255, 255, 0);
	padding: 15px 50px;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.header-section .logo {
	display: inline-block;
	float: left;
}
.header-section .logo img {
	width: auto;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.header-section .menu-list {
	list-style: none;
	float: right;
	margin-top: 8px;
}
.header-section .menu-list li {
	display: inline;
}
.header-section .menu-list li a {
	display: inline-block;
	padding: 10px;
	color: #a0a0a0;
	position: relative;
	font-family: "Varela Round", sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0.09em;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.header-section .menu-list li a:hover {
	color: #fff;
}
.header-section .menu-list .current a {
	color: #fff;
}
.header-section.sticky {
	position: fixed;
	background: #0a0c17;
	padding: 10px 30px;
}
.header-section.sticky .logo img {
	height: 55px;
}



/* ====================
  Intro Section
=======================*/
.intro-section {
	height: 100%;
	position: relative;
	overflow: hidden;
	z-index: 6;
}
.intro-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #0a0c17;
}
#particles {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 6;
}
#round {
	position: absolute;
	top: 0;
	left: 0;
}
.intro-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 2;
	display: table;
}
.intro-inner .intro-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.intro-inner .intro-content .profile-img {
	width: 180px;
	height: 180px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	border: 10px solid #fff;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.61);
	        box-shadow: 0 0 20px rgba(0, 0, 0, 0.61);
	position: relative;
	z-index: 9;
}
.intro-inner .intro-content h2 {
	font-family: "Varela Round", sans-serif;
	font-size: 40px;
	font-weight: 600;
	color: #fff;
	margin-top: 25px;
}
.typed-cursor {
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}



/* ====================
  About Section
=======================*/
.about-section {
	position: relative;
	overflow: hidden;
}
.about-top {
	text-align: center;
}
.about-top h2 {
	font-weight: 300;
	line-height: 1.3em;
}
.about-text h2 {
	font-size: 35px;
	margin-bottom: 30px;
}
.about-text p ins {
	-webkit-text-decoration-style: wavy;
	        text-decoration-style: wavy;
}
.single-progress-item {
	margin-bottom: 35px;
	position: relative;
}
.single-progress-item p {
	font-size: 11px;
	text-transform: uppercase;
	font-family: "Varela Round", sans-serif;
	font-weight: bold;
	letter-spacing: 0;
	margin-bottom: 0px;
	color: #333;
}
.progress-bar-style {
	display: block;
	height: 4px;
	position: relative;
	width: 100%;
	border-radius: 25px;
}
.bar-inner {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	border-radius: 25px;
	background: #333;
}
.bar-inner span {
	position: absolute;
	right: 0;
	font-weight: bold;
	top: -18px;
	font-size: 10px;
	width: 35px;
	height: 35px;
	padding-top: 11px;
	letter-spacing: 0px;
	background: #fff;
	text-align: center;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 10px rgba(45, 45, 45, 0.2);
	        box-shadow: 0 0 10px rgba(45, 45, 45, 0.2);
}




/* ====================
  Portfolio Section
=======================*/
.portfolio-section {
	background: #fff;
}
.portfolio-filter {
	list-style: none;
	text-align: center;
}
.portfolio-filter li {
	display: inline-block;
	margin: 0 5px;
	font-size: 13px;
	padding: 3px 0;
	cursor: pointer;
	border-color: transparent;
	border: 1px solid transparent;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.portfolio-filter li.active {
	background: #fff;
	padding: 3px 12px;
	border-radius: 20px;
	border-color: #ddd;
}
.isotope_items {
	margin-bottom: -30px;
}
.work-item {
	position: relative;
	display: block;
	margin-bottom: 30px;
}
.work-item img {
	min-width: 100%;
}
.work-item .work-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: transparent;
	z-index: 1;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.work-item .work-inner .work-info {
	position: relative;
	text-align: center;
	top: 50%;
	margin-top: -28px;
}
.work-item .work-inner .work-info h2 {
	color: #fff;
	font-size: 20px;
	margin-bottom: 9px;
	opacity: 0;
	position: relative;
	top: -40px;
	-webkit-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
.work-item .work-inner .work-info h3 {
	color: #333;
	font-size: 12px;
	display: inline-block;
	background: #fff;
	padding: 6px 20px;
	border-radius: 20px;
	opacity: 0;
	position: relative;
	top: 40px;
	-webkit-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
.work-item:hover .work-inner {
	background: rgba(0, 0, 0, 0.8);
}
.work-item:hover .work-inner .work-info h2, .work-item:hover .work-inner .work-info h3 {
	opacity: 1;
	top: 0;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}




/* ====================
  Footer Section
=======================*/
.footer-section {
	
	text-align: center;
	padding-bottom: 25px;
	
}

.footer-section p {
	font-size: 14px;
	margin-bottom: 0;
	line-height: normal;
}



/* Responsive
==================================================*/

/* Tablet desktop :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.about-img {
		margin-bottom: 20px;
	}
	.service-item {
		margin-bottom: 30px;
	}
	.skill {
		margin-top: 20px;
	}
}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
	.service-item {
		margin-bottom: 30px;
	}
	.resume-item .resume-left {
		text-align: left;
	}
	.header-section {
		padding: 10px 30px;
	}
	.header-section.bgc {
		background: #000;
	}
	.header-section.bgc .logo {
		margin-bottom: 10px;
	}
	.header-section .menu-list {
		display: none;
		float: none;
		clear: both;
		border-top: 1px solid #222;
	}
	.header-section .menu-list li {
		display: inline;
	}
	.header-section .menu-list li a {
		display: block;
		padding: 10px;
	}
	.header-section .menu-list li a:after {
		left: 0%;
	}
	.header-section .menu-list li a:hover:after {
		width: 10px;
		margin-left: 10px;
	}
	.header-section .menu-list .current a:after {
		margin-left: 10px;
	}
	.responsive {
		display: block;
		color: #fff;
		font-size: 34px;
		position: absolute;
		right: 30px;
	}
	.intro-inner .intro-content h2 {
		font-size: 40px;
	}
	.contact-info {
		margin-bottom: 30px;
	}
	.contact-info:last-child {
		margin-bottom: 0;
	}
	.skill {
		margin-top: 20px;
	}
}

/* small mobile :320px. */
@media only screen and (max-width: 479px) {
	.intro-inner .intro-content h2 {
		font-size: 27px;
	}
}
